@page
@using MyCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-1" style="padding-bottom: 10px">Welcome to MyCrafts.io</h1>
    <h5 class="display-6">Look at some of our fun project</h5>
</div>

@(await  Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
